.icon-gallery {
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding: 1px 0 0 17px;
	background-image: url("./images/icon_gallery.gif");
}

.rtl .icon-gallery {
	background-position: 100% 50%;
	padding: 1px 17px 0 0;
}

.polaroid img {
	max-height: 120px;
	max-width: 230px;
}

.albums
{
	overflow: hidden;
}

.polaroid
{
	width: 242px;
	background: #FFFFFF;
	display: block;
	float: left;
	margin: 15px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	transition: all .15s linear;
	border: 1px solid #EFEFEF;
}
